/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: hsl(36, 100%, 99%);
	font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Adds a max-width of 1440px, as per the assignment instructions */
html {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

/* Sets deafult font size and font-weight */
h1, h2, h3, h4 {
	font-weight: 800;
	color: hsl(240, 100%, 5%);
}

h5 {
	font-size: 15px;
}

p {
	font-size: 15px;
	color: hsl(240, 100%, 5%);
}

/* Adds custom color to header */

hr {
	color: hsl(36, 100%, 99%);
}

/* Frontend Mentor Styles */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Custom Global Styles */

nav .navbar-nav li a {
	color: hsl(236, 13%, 42%);
}

nav .navbar-nav li a:hover {
	color: hsl(35, 77%, 62%);
}

.new-section a:hover {
	color: hsl(35, 77%, 62%);
}

.new-section a {
	color: white;
}

.sec-2-title a:hover {
	color: hsl(35, 77%, 62%);
}

/* removes underline from all links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* Custom styles for read more button. Please see the stackoverflow reference I used to find out how to remove the rounded corners of the button using border-radius: 0; */
.read-more {
	background-color: hsl(5, 85%, 63%);
	border-radius: 0;
	letter-spacing: 5px;
	font-weight: 600;
	padding: 0.8rem;
	width: 11.5rem;
	font-size: 13px;
	color: hsl(36, 100%, 99%);
}

/* Please see my reference CSS button style hover from freecodecamp. This class adds a background color and text color for when hovering over the read more button */
.read-more:hover {
	background-color:  hsl(240, 100%, 5%);
	color: hsl(36, 100%, 99%);
	transition: 0.7s;
}

/* updates text color for main paragraph */
.main-p {
	color: hsl(236, 13%, 42%);
}

.new-section-h1 {
	color: hsl(35, 77%, 62%);
}

/* Updates width of mobile offcanvas navbar */
#offcanvasDarkNavbar {
	width: 250px;
}

/* Custom Mobile Styles */
@media screen and (min-width: 350px) and (max-width: 768px) {
	#desktop-banner {
		display: none;
	}

	.main-p {
		line-height: 1.6rem;
	}

	.p-blurb {
		margin-top: 1rem;
	}

	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
	}

	.article-p-vc {
		margin-top: 1rem;
	}

	.read-more {
		margin-top: 1.8rem;
		margin-bottom: 4rem;
	}
	
	/* Updates mobile main title font size */
	.main-title {
		font-size: 43px;
		margin-top: 1.5rem;
	}

	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 1.5rem;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 19.5px;
	}

	.sec-2-img {
		width: 29%;
	}

	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}

	.number-size {
		font-size: 31px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.sec-2-title {
		font-size: 18px;
	}

	#desktop-nav {
		display: none;
	}
}

/* Custom Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 992px) {
	#desktop-banner {
		display: none;
	}

	.main-p {
		line-height: 1.6rem;
	}

	.p-blurb {
		margin-top: 1rem;
	}

	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
	}

	.article-p-vc {
		margin-top: 1rem;
	}

	.read-more {
		margin-top: 1.8rem;
		margin-bottom: 4rem;
	}
	
	/* Updates mobile main title font size */
	.main-title {
		font-size: 43px;
	}

	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 1.5rem;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 19.5px;
	}

	.sec-2-img {
		width: 29%;
	}

	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}

	.number-size {
		font-size: 31px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.sec-2-title {
		font-size: 18px;
	}

	#desktop-nav {
		display: none;
	}
}

/* Custom Desktop Styles */
@media screen and (min-width: 993px) and (max-width: 1440px) {
	.main-title {
		font-size: 60px;
		margin-top: 2rem;
	}
	
	#mobile-banner {
		display: none;
	}
	
	#mobile-nav {
		display: none;
	}

	.number-size {
		font-size: 36px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.number-size {
		font-size: 36px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.main-p {
		line-height: 1.9rem;
	}

	.p-blurb {
		margin-top: 1.5rem;
		font-size: 15px;
		line-height: 1.8rem;
	}

	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
		font-size: 1.05rem;
	}

	.article-p-vc {
		margin-top: 1rem;
		font-size: 1.05rem;
	}

	.read-more {
		margin-top: 3.5rem;
	}

	.sec-2 {
		margin-top: 2rem;
	}

	.sec-2-title {
		font-size: 18px;
	}
	
	.sec-2-img {
		width: 40%;
	}

	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 2rem;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 22px;
		margin-top: 2.3rem;
	}
}

@media screen and (min-width: 1440px) and (max-width: 4000px) {
	.main-title {
		font-size: 60px;
		margin-top: 2rem;
	}
	
	#mobile-banner {
		display: none;
	}
	
	#mobile-nav {
		display: none;
	}

	.number-size {
		font-size: 36px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.main-p {
		line-height: 1.9rem;
	}

	.p-blurb {
		margin-top: 1.5rem;
		font-size: 15px;
		line-height: 1.8rem;
	}

	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
		font-size: 1.05rem;
	}

	.article-p-vc {
		margin-top: 1rem;
		font-size: 1.05rem;
	}

	.read-more {
		margin-top: 3.5rem;
	}

	.sec-2 {
		margin-top: 2rem;
	}

	.sec-2-title {
		font-size: 18px;
	}
	
	.sec-2-img {
		width: 28%;
	}

	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 2rem;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 22px;
		margin-top: 2.3rem;
	}
}