/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: hsl(36, 100%, 99%);
	font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Adds a max-width of 1440px, as per the assignment instructions */
html {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

/* Sets deafult font size and font-weight */
h1, h2, h3, h4 {
	font-weight: 800;
	color: hsl(240, 100%, 5%);
}

h5 {
	font-size: 15px;
}

p {
	font-size: 15px;
	color: hsl(240, 100%, 5%);
}

/* Adds custom color to header */

hr {
	color: hsl(36, 100%, 99%);
}

/* Frontend Mentor Styles */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Custom Global Styles */

/* removes underline from all links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--text-light);
}

/* Custom styles for read more button */
.read-more {
	background-color: hsl(5, 85%, 63%);
	border-radius: 0;
	letter-spacing: 5px;
	font-weight: 600;
	padding: 0.8rem;
	width: 11.5rem;
	font-size: 13px;
	color: hsl(36, 100%, 99%);
}

/* Adds color for when hovering over read more button */
.read-more:hover {
	background-color: hsl(5, 85%, 63%);
	transition: 0.7s;
}

/* updates text color for main paragraph */
.main-p {
	color: hsl(236, 13%, 42%);
}

.new-section {
	background-color: hsl(240, 100%, 5%);
}

.new-section-h1 {
	color: hsl(35, 77%, 62%);
}

.new-section-h2 {
	color: hsl(36, 100%, 99%);
}

/* Custom Mobile Styles */
@media screen and (max-width: 768px) {
	/* Updates mobile main title font size */
	.main-title {
		font-size: 43px;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 19.5px;
	}

	.sec-2-img {
		width: 29%;
	}

	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}

	.number-size {
		font-size: 31px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.sec-2-title {
		font-size: 18px;
	}

	#desktop-nav {
		display: none;
	}
}

/* Custom Tablet Styles */
@media screen and (min-width: 769px) and (max-width: 992px) {
	
	.main-title {
		font-size: 43px;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 35px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 23.5px;
	}

	.sec-2-img {
		width: 29%;
	}

	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}

	.number-size {
		font-size: 41px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	.sec-2-title {
		font-size: 22px;
	}
	
	#desktop-nav {
		display: none;
	}

}

/* Custom Desktop Styles */
@media screen and (min-width: 993px) and (max-width: 1440px) {
	#mobile-nav {
		display: none;
	}
}

@media screen and (min-width: 1440px) {
	#mobile-nav {
		display: none;
	}
}