/****** Adds CSS Reset to Stylesheet ******/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: hsl(36, 100%, 99%);
	font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************/

/* Adds a max-width of 1440px, as per the assignment instructions */
html {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

/* Sets deafult font size and font-weight */
h1, h2, h3, h4 {
	font-weight: 800;
	color: hsl(240, 100%, 5%);
}

/* Sets font size for h5 headings used in the HTML footer */
h5 {
	font-size: 15px;
}

/* Sets a default font size for all paragraphs as per the instructions */
p {
	font-size: 15px;
	color: hsl(240, 100%, 5%);
}

/* Adds custom color to hr element in "New" section */
hr {
	color: hsl(36, 100%, 99%);
}

/****** Frontend Mentor Default Styles that came with the stylesheet ******/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/************************************/

/****** CSS Custom Global Styles ******/

/* adds custom color styles from style guide for all navigation li's to match the design mockups */
nav .navbar-nav li a {
	color: hsl(236, 13%, 42%);
}

/* adds custom color styles from style guide for hovering over all navigation li's to match the design mockups */
nav .navbar-nav li a:hover {
	color: hsl(35, 77%, 62%);
}

/* adds custom color styles from style guide for hovering over all "new" section headings to match the design mockups */
.new-section a:hover {
	color: hsl(35, 77%, 62%);
}

/* adds custom color styles from style guide for all "new" section headings to match the design mockups */
.new-section a {
	color:  hsl(36, 100%, 99%);
}

/* adds custom color styles from style guide for all section 2 headings to match the design mockups */
.sec-2-title a {
	color: hsl(240, 100%, 5%);
}

/* adds custom color styles from style guide for hovering over all section 2 headings to match the design mockups */
.sec-2-title a:hover {
	color: hsl(35, 77%, 62%);
}

/* removes underline from all page links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* Custom styles for read more button. Please see the stackoverflow reference I used to find out how to remove the rounded corners of the button using border-radius: 0; */
.read-more {
	background-color: hsl(5, 85%, 63%);
	border-radius: 0;
	letter-spacing: 5px;
	font-weight: 600;
	padding: 0.8rem;
	width: 11.5rem;
	font-size: 13px;
	color: hsl(36, 100%, 99%);
}

/* Please see my reference CSS button style hover from freecodecamp. This class adds a background color and text color for when hovering over the read more button */
.read-more:hover {
	background-color:  hsl(240, 100%, 5%);
	color: hsl(36, 100%, 99%);
	transition: 0.7s;
}

/* updates text color for main paragraph */
.main-p {
	color: hsl(236, 13%, 42%);
}

/* updates color of "New" section header using custom color from the included style guide */
.new-section-h1 {
	color: hsl(35, 77%, 62%);
}

/* Updates width of mobile offcanvas navbar */
#offcanvasDarkNavbar {
	width: 250px;
}

/****** Custom Mobile Styles ******/
@media screen and (min-width: 350px) and (max-width: 768px) {
	/* hides destop banner image on mobile sized devices */
	#desktop-banner {
		display: none;
	}

	/* hides desktop navigation menu on mobile sized devices */
	#desktop-nav {
		display: none;
	}

	/* Updates default line height for all mobile paragraph tags */
	.main-p {
		line-height: 1.6rem;
	}

	/* adds top margin to paragraph under main h1 header to match the mobile design mockup */
	.p-blurb {
		margin-top: 1rem;
	}

	/* updates "new" section description margin top and bottom to match the mobile design mockup */
	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
	}

	/* updates last "new" section paragraph top margin to match the mobile design mockup */
	.article-p-vc {
		margin-top: 1rem;
	}

	/* adds margin top and bottom to mobile button to match the mobile design mockup */
	.read-more {
		margin-top: 1.8rem;
		margin-bottom: 4rem;
	}
	
	/* Updates mobile h1 main title font size */
	.main-title {
		font-size: 43px;
		margin-top: 1.5rem;
	}

	/* adds custom color from style guide and padding to "new" section to match the mobile design mock-up */
	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 1.5rem;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size, margin top, and color for "new" section headers */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 19.5px;
		margin-top: 2rem;
	}

	/* adjusts section 2 article image widths to match the mobile design mockup */
	.sec-2-img {
		width: 29%;
	}

	/* adds margin top to each section 2 article to match the mobile design mockup */
	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}

	/* adjust size of numbers in section 2 article to match the mobile design mockup */
	.number-size {
		font-size: 31px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	/* adjusts section 2 article titles font size to match the mobile design mockup */
	.sec-2-title {
		font-size: 17.5px;
	}
}
/****************************************/


/****** Custom Tablet Styles ******/
@media screen and (min-width: 768px) and (max-width: 992px) {
	/* hides destop banner image on tablet sized devices */
	#desktop-banner {
		display: none;
	}

	/* hides desktop navigation menu on tablet sized devices */
	#desktop-nav {
		display: none;
	}

	/* Updates default line height for all tablet paragraph tags */
	.main-p {
		line-height: 1.6rem;
	}

	/* adds top margin, adjusts font size and line height to paragraph under main h1 header for tablet sized devices */
	.p-blurb {
		margin-top: 1rem;
		font-size: 18px;
		line-height: 1.9rem;
	}

	/* updates "new" section description margin top and bottom for tablet sized devices */
	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
		font-size: 18px;
	}

	/* updates last "new" section paragraph top margin for tablet sized devives */
	.article-p-vc {
		margin-top: 1rem;
		font-size: 18px;
	}

	/* adds margin top and bottom to mobile button for tablet sized devices */
	.read-more {
		margin-top: 1.8rem;
		margin-bottom: 4rem;
	}
	
	/* Updates mobile main title font size */
	.main-title {
		font-size: 43px;
		margin-top: 2rem;
	}

	/* adds custom color from style guide and padding to "new" section for tablet sized deives */
	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 1.5rem;
	}

	/* Updates Font Size and Weight for new section h1 */
	.new-section-h1 {
		font-size: 35px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 22px;
		margin-top: 2rem;
	}

	/* adds margin top to sec 2 */
	.sec-2 {
		margin-top: 2rem;
	}

	.sec-2-text {
		font-size: 18px;
		line-height: 1.9rem;
	}

	/* adjusts section 2 article image widths for tablet sized devices */
	.sec-2-img {
		width: 25%;
	}

	/* adds margin top to each section 2 article for tablet sized devices */
	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}

	/* adjust size of numbers in section 2 article for tablet sized devices */
	.number-size {
		font-size: 40px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	/* adjusts section 2 article titles font size for tablet sized devices */
	.sec-2-title {
		font-size: 22px;
	}
}
/****************************************/


/****** Custom Desktop Styles ******/
@media screen and (min-width: 993px) and (max-width: 1200px) {
	/* Updates desktop main h1 title font size, adds margin top to match the desktop design mockup */
	.main-title {
		font-size: 43px;
		margin-top: 2rem;
	}
	
	/* hides mobile banner on desktop screen sizes to match the destop design mockup */
	#mobile-banner {
		display: none;
	}
	
	/* hides mobile navigation menu on desktop screen sizes to match the destop design mockup */
	#mobile-nav {
		display: none;
	}

	/* adjust size of numbers in section 2 article to match the desktop design mockup */
	.number-size {
		font-size: 36px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	/* Updates default line height for all desktop paragraph tags to match the desktop design mockup */
	.main-p {
		line-height: 1.9rem;
	}

	/* adds top margin, adjusts font size and line height to paragraph under main h1 header to match the destop design mockup */
	.p-blurb {
		margin-top: 1.5rem;
		font-size: 18px;
		line-height: 1.8rem;
	}

	/* updates "new" section description margin top and bottom to match the destop design mockup */
	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
		font-size: 18px;
	}

	/* updates last "new" section paragraph top margin, font size and margin bottom to match the desktop design mockup */
	.article-p-vc {
		margin-top: 1rem;
		font-size: 18px;
		margin-bottom: -2.3rem;
	}

	/* adds margin top destop button to match the desktop design mockup */
	.read-more {
		margin-top: 3.5rem;
	}

	/* adds margin top to sec 2 to match the desktop design mockup */
	.sec-2 {
		margin-top: 2rem;
	}

	/* updates section 2 paragraph font size to match the desktop design mockup */
	.sec-2-text {
		font-size: 18px;
	}

	/* updates section 2 h3 heading font size to match the desktop design mockup */
	.sec-2-title {
		font-size: 22px;
	}
	
	/* adds margin top to each section 2 article to match the destop design mockup */
	.retro, .laptop, .gaming {
		margin-top: 2rem;
	}
	
	/* adjusts section 2 article image widths to match the desktop design mockup */
	.sec-2-img {
		width: 15%;
	}

	/* adds custom color from style guide, margin top and padding to "new" section to match the desktop design mockup */
	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 2rem;
		margin-top: 3.5rem;
	}

	/* Updates Font Size, margin bottom and Weight for new section h1 */
	.new-section-h1 {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size, margin top and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 22px;
		margin-top: 2.3rem;
	}

	/* adds margin top to sec 2 */
	.sec-2 {
		margin-top: 4rem;
	}
}
/****************************************/


/* Custom XX Large Screen Desktop Styles */
@media screen and (min-width: 1200px) and (max-width: 4000px) {
	/* Updates desktop main h1 title font size, adds margin top to match the desktop design mockup */
	.main-title {
		font-size: 60px;
		margin-top: 2rem;
	}
	
	/* hides mobile banner on desktop screen sizes to match the destop design mockup */
	#mobile-banner {
		display: none;
	}
	
	/* hides mobile navigation menu on desktop screen sizes to match the destop design mockup */
	#mobile-nav {
		display: none;
	}

	/* adjust size of numbers in section 2 article to match the desktop design mockup */
	.number-size {
		font-size: 36px;
		color: hsl(233, 8%, 79%);
		font-weight: 600;
	}

	/* Updates default line height for all desktop paragraph tags to match the desktop design mockup */
	.main-p {
		line-height: 1.9rem;
	}

	/* adds top margin, adjusts font size and line height to paragraph under main h1 header to match the destop design mockup */
	.p-blurb {
		margin-top: 1.5rem;
		font-size: 1.02rem;
		line-height: 1.7rem;
	}

	/* updates "new" section description margin top and bottom to match the destop design mockup */
	.article-p {
		margin-top: 1rem;
		margin-bottom: 1.8rem;
		font-size: 1.05rem;
	}

	/* updates last "new" section paragraph top margin, font size and margin bottom to match the desktop design mockup */
	.article-p-vc {
		margin-top: 1rem;
		font-size: 1.05rem;
	}

	/* adds margin top destop button to match the desktop design mockup */
	.read-more {
		margin-top: 3.5rem;
	}

	/* adds margin top to sec 2 to match the desktop design mockup */
	.sec-2 {
		margin-top: 2rem;
	}

	/* updates section 2 paragraph line height to match the desktop design mockup */
	.sec-2-text {
		line-height: 1.7rem;
	}

	/* updates section 2 h3 heading font size to match the desktop design mockup */
	.sec-2-title {
		font-size: 18px;
	}
	
	/* adjusts section 2 article image widths to match the desktop design mockup */
	.sec-2-img {
		width: 28%;
	}

	/* adds custom color from style guide, margin top and padding to "new" section to match the desktop design mockup */
	.new-section {
		background-color: hsl(240, 100%, 5%);
		padding: 2rem;
	}

	/* Updates Font Size, margin bottom and Weight for new section h1 */
	.new-section-h1 {
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 2.3rem;
	}

	/* Updates Font Size, margin top and color for new section h2 */
	.new-section-h2 {
		color: hsl(36, 100%, 99%);
		font-size: 22px;
		margin-top: 2.3rem;
	}
}
/****************************************/